<a href="https://colab.research.google.com/github/thenectartrips/AI_ML/blob/main/Lab01_PiyushManiTripathi_590021763.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dataset={"Students_name":["A","B","C","D","E","F"],
         "Marks":[65,54,np.nan,66,np.nan,78],
         "Attendance":[90,np.nan,85,120,np.nan,876]}

In [ ]:
df=pd.DataFrame(dataset)

In [ ]:
df

  Students_name  Marks  Attendance
0             A   65.0        90.0
1             B   54.0         NaN
2             C    NaN        85.0
3             D   66.0       120.0
4             E    NaN         NaN
5             F   78.0       876.0

In [ ]:
df.isnull().sum()

Students_name    0
Marks            2
Attendance       2
dtype: int64

In [ ]:
sum(df.isnull().sum())

4

Mean Imputation

In [ ]:
df["Marks"].fillna(df["Marks"].mean())

0    65.00
1    54.00
2    65.75
3    66.00
4    65.75
5    78.00
Name: Marks, dtype: float64

In [ ]:
df["Attendance"].fillna(df["Attendance"].mean())

0     90.00
1    292.75
2     85.00
3    120.00
4    292.75
5    876.00
Name: Attendance, dtype: float64

Outlayer detection and handling

In [ ]:
df.loc[df["Attendance"]>100,"Attendance"]=100

In [ ]:
df

  Students_name  Marks  Attendance
0             A   65.0        90.0
1             B   54.0         NaN
2             C    NaN        85.0
3             D   66.0       100.0
4             E    NaN         NaN
5             F   78.0       100.0

Feature Scaling

In [ ]:
dataset={"Students_name":["A","B","C","D","E"],
         "Marks":[50,60,70,80,90]}

In [ ]:
df=pd.DataFrame(dataset)

In [ ]:
df

  Students_name  Marks
0             A     50
1             B     60
2             C     70
3             D     80
4             E     90

In [ ]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
df["Marks"]=scalar.fit_transform(df[["Marks"]])

In [ ]:
df

  Students_name     Marks
0             A -1.414214
1             B -0.707107
2             C  0.000000
3             D  0.707107
4             E  1.414214

In [ ]:
df["shifted"]=df["Marks"]+10

In [ ]:
df

  Students_name     Marks    shifted
0             A -1.414214   8.585786
1             B -0.707107   9.292893
2             C  0.000000  10.000000
3             D  0.707107  10.707107
4             E  1.414214  11.414214

In [ ]:
df["logMarks"]=np.log(df["shifted"])

In [ ]:
df

  Students_name     Marks    shifted  logMarks
0             A -1.414214   8.585786  2.150108
1             B -0.707107   9.292893  2.229250
2             C  0.000000  10.000000  2.302585
3             D  0.707107  10.707107  2.370908
4             E  1.414214  11.414214  2.434859